.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  visibility: hidden;
  z-index: 999;
}

.modal__title {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 24px;
}

.modal_opened {
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-image: url(../../assets/close_button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: currentColor;
  cursor: pointer;
}

.modal__content {
  background-color: #ffff;
  position: relative;
  padding: 28px 28px 26px;
  max-width: 496px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  /* height: 436px;
  line-height: 24px; */
}

.modal__content.modal__content--login {
  width: 496px;
  height: 304px;
}

.modal__register-btn {
  border: none;
  background: white;
  width: 91px;
  height: 22px;
  cursor: pointer;
}

.modal__register-btn:hover {
  text-decoration: underline;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.modal__radio-button {
  display: flex;
  border: none;
  padding: 0;
  flex-direction: column;
  padding-bottom: 8px;
  margin: 0;
}

.modal__legend {
  padding-bottom: 12px;
}

.modal__radio-input {
  margin-right: 8px;
}

.modal__label.modal__label_type_radio {
  opacity: 50%;
}

.modal__input:first-of-type,
.modal__input:last-of-type,
.modal__input {
  border: none;
  border-bottom: 1px solid #000000;
  padding-top: 8px;
  /* margin-bottom: 24px; */
}

.modal__submit {
  width: 124px;
  height: 36px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  opacity: 30%;
  border-radius: 4px;
  cursor: pointer;
}

.modal__content.modal__content_type_image {
  max-width: 498px;
  height: 610px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.modal__image {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  width: 498px;
  height: 498px;
}

.modal__caption {
  padding: 20px 0 0 0;
  margin: 0 0 0 32px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__delete {
  position: absolute;
  bottom: 68px;
  right: 32px;
  background-color: #fff;
  color: #ff4d00;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  margin: 0;
  padding: 0;
}

.modal__weather {
  padding: 12px 0 32px 0;
  margin: 0 0 0 32px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__footer {
  width: 498px;
  height: 112px;
}

.modal__error {
  color: #ff4d4d;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  bottom: -20px;
  left: 0;
  margin-top: 4px;
}

.modal__input_type_error {
  border: 1px solid #ff4d4d;
  background-color: #fff0f0;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 22px;
}

.modal__button-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* .modal__submit {
  opacity: 1;
}

.modal__submit:disabled {
  opacity: 0.3;
} */
