.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border: solid #75bb75;
  border-radius: 30px;
  overflow: hidden;
}

.card__name {
  font-family: "Cabinet Grotesk";
  position: absolute;
  top: 16px;
  margin: 0;
  background-color: #ffff;
  border-radius: 4px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  padding: 2px 12px;
  height: 24px;
  text-align-last: center;
}

.card__image {
  width: 323px;
}

.cards__text {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0px;
  list-style-type: none;
  gap: 21px;
  flex-grow: 1;
}
