.header {
  display: flex;
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  font-family: "Cabinet Grotesk";
  box-sizing: border-box;
}

.header__logo {
  margin-right: 24px;
}

.header__bar {
  position: absolute;
  bottom: 27px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ff4d00;
  border-radius: 3px;
  opacity: 50%;
}

.header__date {
  margin: 0;
  margin-right: auto;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
}

.header__login-btn {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
}

.header__register-btn {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
}
.header__user-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 32px 0 28px;
  max-width: 1360px;
}

.header__username {
  margin: 0;
  margin-left: 20px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: black;
}

.header__avatar {
  margin-left: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
