.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border: solid #75bb75;
  border-radius: 30px;
  overflow: hidden;
}

.card__name {
  font-family: "Cabinet Grotesk";
  position: absolute;
  top: 16px;
  margin: 0;
  background-color: #ffff;
  border-radius: 4px;
  line-height: 20px;
  font-size: 16px;
  width: auto;
  height: 24px;
  text-align-last: center;
}

.card__image {
  width: 323px;
}

.cards__text {
  font-family: "Cabinet Grotesk";
}
