.footer {
  display: flex;
  justify-content: space-between;
}

.footer__header {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 24px;
  margin: 0;
}

.footer__date {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
