.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  visibility: hidden;
}
.modal__title {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 24px;
}

.modal_opened {
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-image: url(../../assets/close_button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
}

.modal__content {
  background-color: #ffff;
  position: relative;
  padding: 28px 28px 26px;
  max-width: 496px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  padding-bottom: 24px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid #000000;
  width: 100%;
  padding-top: 8px;
}

.modal__radio-button {
  display: flex;
  border: none;
  padding: 0;
}
